:root{
  --tooltipBG: rgba(32, 32, 32, 0.425);
  --outline-color:#000;
}

/* GENERIC */
.flex{
  display: flex;
}
.flex-column{
  flex-direction: column;
}
.flex-grow{
  flex-grow: 1;
}
.justify-center{
  justify-content: center;
}
.justify-right{
  justify-content: right;
}
.items-center{
  align-items: center;
}
.w-full{
  width: 100%;
}
.pointer{
  cursor: pointer;
}
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.display-none{
  display: none !important;
}

